<!-- foot -->
<div class="d-block">
    <div class="bg-secondary">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-md-4 d-flex col-sm-12">
                    <div class="d-flex flex-column align-items-start justify-content-center w-100">
                        <img style="max-width:200px;" src="images/main/logo.png" />
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="d-flex flex-column align-self-center text-white">
                        <p class="font-weight-bolder">Contact us </p>
                        <p class="font-weight-bold">Phone: 0800 777 175</p>
                        <p class="font-weight-bold">Head Office: 16 Sheffield Street, Levin 5510</p>
                        <p class="font-weight-bold">Social network: <a target="_blank" href="https://www.facebook.com/greenhavenhomesnz/">Facebook</a></p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="d-flex flex-column align-self-center text-white">
                        <p class="font-weight-bolder">Menu</p>
                        <NavLink href="">
                            Home
                        </NavLink>
                        <NavLink href="team">
                            Our team
                        </NavLink>
                        <NavLink href="gallery">
                            Gallery
                        </NavLink>

                        <NavLink href="contactus">
                            Contact us
                        </NavLink>
                        <NavLink href="ServicesAndProducts">
                            Services & Products
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-top: 1px solid red;margin:0" />
    <div class="d-flex bg-dark justify-content-center text-white pt-3">
        <p>© 2020 TSP. All Rights Reserved. Website design by LPS</p>
    </div>
</div>
