<div class="d-flex flex-column justify-content-center h-100 align-items-center">
    <p><em>Loading...</em></p>
    <p>
        Please check your internect if no reponse in a while
    </p>
</div>
@code {

}
